.ingredient_card {
  position: relative;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 4px;
  text-align: center;
}

.dragging {
  opacity: 0.2;
}
